.container.adm-cards-container{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}
.col-md.adm-card{
    background-color: var(--bgColor2);
    width: 16rem;
    height: 16rem;
}
.sidebar h2 {
    color: var(--hlColor1);
    margin-top: 32px;
}
.adm-cards-label{
    margin-top: 100px;
}

.item-container {
    margin: 30px;
}

.orderContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.404);
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.clientContainer {
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.404);

    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;

    padding: 20px;
}

.form-label {
    color: rgb(0, 0, 0);
    margin: 10px;
}

.inputClass {
    color: aliceblue;
    background: rgba(0, 0, 0, 0.39);
}

.containerlinks{
    margin-top: 11rem;
}
a.col-md{
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem;
    width: 2rem;
    height: 10rem;
    box-shadow: 11px 13px 15px -3px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
}
a.col-md i{
    font-size: 3rem;
    color: var(--bgColor2);
    display: inline;
}
a.col-md p{
    padding-left: 1.2rem;
    padding-top: 2.2rem;
    text-decoration: none;
    color: orange;
    font-size: 2rem;
    display: inline;

}
a.col-md:hover{
    transform: scale(1.05);
}