@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variáveis principais */
:root {
    --bgColor1: #d6d3d1; 
    --bgColor2: #292524; 
    --bgColor3: #94a3b8;
    --bgColor4: #b8b3b0; 

    --hlColor1: #facc15; 
    --red: #dc2626; 
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bgColor1);
    font-size: 16px;
    margin: 0;
    color: var(--bgColor2);
}
main{
    flex-grow: 1;
}
.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar  */
.navbar {
    font-family: "Montserrat", sans-serif;
    padding: 16px;
    background-color: var(--bgColor2);
}

/* Logo Estilos */
.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.navbar-brand img {
    height: 40px;
    margin-right: 8px;
}

.logo .navbar-brand {
    color: var(--bgColor1);
}

/* Estilos de Botões da Navbar */
.navbar button {
    background: none; 
    color: var(--bgColor1);
    border: none; 
    margin-left: 10px; 
    cursor: pointer; 
}

/* Barra de Busca */
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.navbar .form-control {
    min-width: 400px; 
}

/* Ícone de Busca */
.input-group-text .fa-search {
    color: var(--bgColor1); 
}

/* Estilos Gerais de Botões */
button {
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

/* Estilos de Botão da Sidebar */
.btn-sidebar {
    margin: auto; 
    border-radius: 12px; 
    border: 1px solid var(--bgColor2); 
}
/* estilo da sidebar */
.sidebar-container{
    margin-top: 10vh;
}

.sidebar {
    width: 17.5rem;
    background-color: var(--bgColor2);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    left: -17.5rem; /* Esconder a sidebar inicialmente */
    transition: left 0.3s ease; 
    top: 0;
    z-index: 10;
    overflow-y: auto;
}

.sidebar.open {
    left: 0;
    top: 0; 
}

#btn-toggle-sidebar:hover {
    color: var(--hlColor1);
}

.sidebar h2 {
    color: var(--hlColor1);
    margin-top: 32px;
}
.sidebar h2.adm-pages{
    margin-top: 100px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--bgColor1);
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: var(--hlColor1);
}
/* Estilos para a barra de rolagem */
*::-webkit-scrollbar {
    width: 8px; 
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 8px;
    border: 2px solid #f1f1f1; 
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
.bg-image{
    z-index: 9;
}
/* estilo dos card de produtos */
.card{
    background-color: var(--bgColor2);
}
.img-fluid{
    padding: 16px;
    border-radius: 24px;
}
.card-title{
    color: var(--bgColor1);
}
.product-price-cash{
    color: var(--hlColor1);
    margin-top: 16px;
}
.product-price-card{
    color: #9ca3af;
}
.title_container{
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    flex-direction:column;
    align-items:center;
}

.page_title{
    text-align: center;
    color: var(--bgColor2);
}

.title_line{
	height:4px;
	width:30%;
	background-color: var(--bgColor2);
    border-radius: 35px;
}
.marginTop{
    margin-top: 10vh;
}

.divider-container{
    margin-top: 5rem;
}
.divider-text{
    margin-left: 10rem;
    font-size: 2.5rem;
}
footer{
background-color: var(--bgColor2);
color: #fff;
padding: 20px;
text-align: center;
margin-top:20vh;
margin-top: 0;
}

