.title_contanier {
  display: flex;
  justify-content: center;
  margin-top: 7vw;
  margin-bottom: 2vw;
  flex-direction: column;
  align-items: center;
}

.page_title {
  text-align: center;
}

.title_line {
  height: 4px;
  width: 30%;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
}

html,
body,
.intro {
  height: 100%;
}

.intro {
  height: 80%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

tbody td {
  font-weight: 500;
  color: #999999;
}

.table {
  border-radius: 10%;
}

.text-uppercase {
  color: #ffffff;
}

.table-responsive {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
}

.form-outline {
  --mdb-input-focus-label-color: #ffffff;
  --mdb-input-focus-border-color: #ffffff;
  --mdb-surface-color: #ffffff;
}

.form-outline .form-control~.form-label {
  color: #ffffff;
}

#button {
  width: 300px;
  margin-top: 40px;
}

.card {
  width: 1000px;
  margin: auto;
  padding: 0px 150px;
}